.email-viewer-container {
    display: flex;
  }
  
  .email-box {
    width: 50%;
    height: 500px;
    padding: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  
  .email-box h2 {
    margin-top: 0;
  }
  
  .email-list {
    margin-bottom: 1rem;
  }
  